@import'./partials/fonts';
@import './partials/mixins';
@import './partials/variables';

html {
font-size: 10px; 
   	
}
body{
    margin:16px;
     font-family: 'Open Sans', sans-serif;
}
a {
	display: block;
	text-decoration: none;
}
ul {
	list-style-type: none;
}

